html
  head
    title Games Embed Spike
    meta(charset="utf-8")
    script(src='/bower_components/requirejs/require.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-combobox/js/bootstrap-combobox.js')
    link(rel='stylesheet', href='/bower_components/bootstrap-combobox/css/bootstrap-combobox.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script.										
      require.config({
        paths: {
          "embed": "http://play.bbc.co.uk/play/sdk/embed/v1/latest"
        }
      });
  body
    style.
      #og-frame-holder { border: 1px solid black; height: 100px }
    div(class='container')
      h1 Games Embed Spike
        div(id='og-frame-holder')
          script.
            require(["embed/embed"], function(embed) {
              var gid = "gy8b9zzxll"; // "gdywsqy1hn";
              embed(gid, {
                frameContainerId: "og-frame-holder",
                exitGameUrl: "http://www.bbc.co.uk/bitesize/",
                queryString: "?configURL=http://a.files.bbci.co.uk/bam/live/content/zc46p39/config.json&palette=colour-palette-7&language=en-GB"
              });
            });
      aside
        p
          | © 2016 BBC |
          = ' by '
          a(href='mailto:ali.craigmile@bbc.co.uk') Ali Craigmile

