html
  head
    title Learning Jouneys Index
    meta(charset="utf-8")
    script(src='/bower_components/requirejs/require.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-combobox/js/bootstrap-combobox.js')
    link(rel='stylesheet', href='/bower_components/bootstrap-combobox/css/bootstrap-combobox.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script.										
      require.config({
        paths: {
          "embed": "http://play.bbc.co.uk/play/sdk/embed/v1/latest"
        }
      });
  body
    style.
      #og-frame-holder { border: 1px solid black; height: 100px }
    div(class='container')
      h1 Learning Journeys Index
      ul
        li
          a(href='/embed') Embed
        li
          a(href='/journey') What is electricity?
      aside
        p
          | © 2016 BBC |
          = ' by '
          a(href='mailto:ali.craigmile@bbc.co.uk') Ali Craigmile

