html
  head
    title Not found | BBC Bitesize
    meta(charset="utf-8")
    script(src='/bower_components/requirejs/require.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-combobox/js/bootstrap-combobox.js')
    link(rel='stylesheet', href='/bower_components/bootstrap-combobox/css/bootstrap-combobox.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script.										
      require.config({
        paths: {
          "embed": "http://play.bbc.co.uk/play/sdk/embed/v1/latest"
        }
      });
  body
    div(class='container')
      h1 Not found
      p That page was not found. 
      aside
        p
          | © 2016 BBC Bitesize |
          = " "
          a(href="/") Index

